<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/ddyzsltco/image/upload/v1667166561/Super%20Tortas%20Tampico/201122847_1784586071733807_1087565296552609943_n_ssih3x.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/ddyzsltco/image/upload/v1667166561/Super%20Tortas%20Tampico/201588238_1791924677666613_2241464353369923472_n_ai6uvj.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/ddyzsltco/image/upload/v1667166562/Super%20Tortas%20Tampico/202788019_1786217744903973_170608437019945696_n_m0lj4h.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
